<h3>Welcome to CDL Study Guide HQ!</h3>

<p style="background: #CBDCED; padding: 10px;">You can log in to your CDL Study System portal here:<br/>
<strong><a style="font-weight: bold; color: #AB3333" href="http://www.cdlstudyguidehq.com/users/sign_in">http://www.cdlstudyguidehq.com/users/sign_in</a></strong>
</p>

<p>You've just made a smart decision to invest in the CDL Study System from CDL Study Guide HQ. We've spent hundreds of hours preparing these study materials because we want you to pass your exam.</p>

<p>The most important thing to remember: <strong>Use these study materials!</strong> They won't help if you don't use them.</p>

<p>If you ever have any questions, please feel free to <strong><a style="font-weight: bold; color: #AB3333" href="mailto:support@cdlstudyguidehq.com">contact us</a></strong>. We would be happy to help.</p>

<p>Thanks,<br />

The CDL Study Guide HQ Team</p>

<p>P.S. - After you pass your exams, let us know! We'd love to hear how things went and even feature you on our site if you'd like.</p>