<div class="row text-center">
  <div class="col-sm-8 col-sm-offset-2">
    <h4>After paying, you'll be redirected back to CDL Study Guide HQ, where you will be able to create your account and access your study materials!</h4>
  </div>
</div>