<div class="row">
	<div class="col-sm-12 text-center">
	  <div class="well">
			<h1>Thank you for your order!</h1>
			<h4>Please create your account below to access your study materials.</h4>
		</div>
	</div>
</div>