<div class="row text-center">
  <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2 col-xxs-12">
    <%= image_tag("cdl_logo.png", class: "main-image") %>
    <h1 class="home">CDL Study Guide HQ</h1>
    <p class="home-tagline">The #1 CDL Study Website</p>
  </div>
</div>

<div class="row text-center">
  <div class="col-md-12">
    <p class="home-bullets">
      Study Guides <span class="home-bullet">&#9679;</span> 
      Practice Tests <span class="home-bullet">&#9679;</span> 
      All Endorsements
    </p>
  </div>
</div>