<div class="row text-center">
  <h1>About CDL Study Guide HQ</h1>
</div>

<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<p>CDLStudyGuideHQ.com was created by Taylor and his wife Kelli and their friend Danny. Taylor had the idea to build the site when he was going for his own commercial drivers license. He looked for quality study guides and practice tests online but had trouble finding anything helpful.</p>

		<p>Taylor realized how difficult preparing for the CDL exams were without the right study materials. He eventually passed the tests, but vowed to help others that were going through the same stress and trouble getting help. Since then, he's helped many people pass their exams the first time, using his special techniques and study materials.</p>

		<p>Whether you're finding us after failing the CDL exams a few times or you were lucky enough to find us before you've taken them, we're glad you did! Our study guides and practice tests will make your life a lot easier if you use them. We know that they'll help you pass - if they don't, we'll refund ever penny. Give it a try, and stop searching for help elsewhere.</p>
	</div>
</div>