<div class="row text-center">
  <h1>Our Guarantee</h1>
</div>

<div class="row">
	<div class="col-md-8 col-md-offset-2">
	  <h3>If you don't pass, it's on us!</h3>
		<p>If you don't pass your CDL Knowledge test after purchasing and using our study guide and practice test system, we'll refund your purchase price. Just send us an email to <a href="mailto:support@cdlstudyguidehq.com">support@cdlstudyguidehq.com</a> and let us know the information about your purchase (your name, email, which package you ordered, etc.)</p>
	</div>
</div>