<% if request.env["HTTP_REFERER"] && URI.parse(request.env["HTTP_REFERER"]).host == "www.paypal.com" %>
	<div class="row">
		<div class="col-sm-12 text-center">
		  <div class="well">
				<h1>Thank you for your order!</h1>
				<p>Your receipt has been emailed to you and you can review your payment in your Paypal account.</p>
				<h4>Please create your account below to access your study materials.</h4>
			</div>
		</div>
	</div>

  <div class="row">
		<div class="col-md-8 col-md-offset-1">
		  <% if params[:p] %>
			  <%= render partial: "devise/registrations/form", locals: { package: params[:p] } %>
			<% else %>
			  <%= render partial: "devise/registrations/form", locals: { package: "none" } %>
			<% end %>
		</div>
	</div>

	<div class="row text-center">
	  <h4>After you create your account, you'll be able to sign in and get access to your study materials!</h4>
	</div>

	<% if Rails.env.production? %>
		<%= render partial: "pages/tracking/google_image_ads_conversion" %>
	<% end %>

<% else %>
  Oops! It looks like there was a mistake. Please <%= mail_to "taylor@cdlstudyguidehq.com", "contact us" %> if you have any questions.
<% end %>