<p>Hi bossman,</p>

<p>Below is the contact message:</p>

==============

<p>
	<strong>From:</strong> <%= @name %> (<%= @email %>)
</p>

<p>
  <%= @message %>
</p>

==============

<p>Thanks,<br/>
CDLBot</p>