/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require sweet-alert
 */

@import "bootstrap-sprockets";

// First import united variables
@import "bootswatch/flatly/variables";

// Then bootstrap itself
@import "bootstrap";

// And finally bootswatch style itself
@import "bootswatch/flatly/bootswatch";

html {
  position: relative;
  min-height: 100%;
  overflow-x: hidden;
}

body {
  margin-bottom: 200px;
  overflow-x: hidden;
  min-height: 300px;
  @media (max-width: 767px) and (min-width: 357px) {
    margin-bottom: 225px;
  }  
}

body.account-body {
  margin-bottom: 70px;
  @media (max-width: 606px) {
    margin-bottom: 100px;
  }
}

a.navbar-brand {
  &:hover, active {
    color: #FFF !important;
  }
  @media (max-width: 490px) {
    font-size: 16px;
  }
  @media (max-width: 430px) {
    padding-left: 5px;
    padding-right: 5px;
  }
  @media (max-width: 392px) {
    i {
      display: none;
    }
    font-size: 14px;
    padding-top: 22px;
  }
}
.label-danger {
  background-color: #A33 !important;
}

footer {
  background-color: #5F7989;
  bottom: 0;
  height: 200px;
  left: 0;
  position: absolute;
  right: 0;
  width: 100%;
  @media (max-width: 356px) {
    height: 220px;
  }
  a {
    color: #FFF;
    &:hover {
      color: #FFF;
      text-decoration: none;
    }
  }
  img {
    display: block;
    margin: 20px auto;
  }
  ul {
    list-style-type: none;
    margin: 0 auto;
    padding-left: 0;
    text-align: center;
  }
  li {
    display: inline;
    padding-right: 10px;
  }
  @media (max-width: 767px) and (min-width: 357px) {
    height: 225px;    
  } 
}

footer.account-footer {
  height: 70px;
  ul {
    padding: 25px 10px 0 10px;
  }
  @media (max-width: 606px) {
    height: 100px;
  }
}

.navbar-default {
  background-color: #5F7989;
}

a.btn.btn-danger.navbar-btn.order {
  background-color: #aa3333;
  border: 3px solid #FFF;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  font-size: 20px;
  padding: 5px 20px;
  &:hover {
    background-color: #962323;
  }
  @media (max-width: 767px) {
    margin-left: 15px;
  }
}

.highlighted {
  color: #19C4A2;
	font-weight: 900;
}