// Place all the styles related to the Tests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nested_test_questions_0_choices:nth-of-type(4) {
  display: none;
}
.correct-label {
  padding-right: 10px;
  margin-bottom: -30px;
}
.add-question {
  margin-left: 11px;
  a {
    color: #FFF;
    text-decoration: none !important;
    &:hover {
      color: #FFF;
    }
  }
}
.test-creation-form {
  margin: 20px 0;
}
.remove_nested_fields_link {
  margin-top: -25px;
  margin-right: -10px;
}
#user-practice-study {
  h1 {
    text-align: center;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-weight: bold;
    margin: 0;
  }
  h4 {
    margin-bottom: 20px;
  }
  .or {
    padding: 10px;
    @media (max-width: 367px) {
      display: block;
      padding: 20px;
    }
  }
}