<h1><%= @test.name %></h1>
<% @test.questions.each do |question| %>
<h3><%= question.text %></h3>
  <ol>
	<% question.choices.each do |choice| %>
		<li <% if choice.is_correct? %>class="highlighted"<% end %> ><%= choice.answer %></li>
	<% end %>
	</ol>
<% end %>